href("https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet")
nav.navbar.navbar-default.navbar-fixed-top.navbar-top
   .container
      .narbar-header
         a.navbar-brand YaYun
         .nav.navbar-nav.navbar-right
            li
               a(href="#section_ask") INTRO
            li
               a(href="#section_about") ABOUT
            li
               a(href="#section_story") STORY
            li
               a(href="#section_function") FUTURE
            li
               a(href="#section_project") PROJECT



header.jumbotron
   .container
      h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") YaYun's Portfolio
      hr
      h4 Welcome to my story
      
section#section_ask
   .container
      .row
         .col-sm-5.img(data-0="transform: translateX(-180px)" data-500="transform: translateY(0px)")
         .col-sm-7(data-300="opacity: 0" data-500="opacity: 1" )
            h3 Frond End developer who are interested in Human-Computer Interaction. I had participated in two HCI related workshop and annual meeting. Enjoy playing animations with jQuery and GreenSock, learning to create high interactive user interface. A self-learner of VueJS and ReactJS, desire to create high performance web applications.
            
section#section_about
   .container            
      .row
         .col-sm-12(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
            h2 Story about me
            hr
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t31.0-8/19983856_1479521905442604_50598750471073184_o.jpg?_nc_cat=0&oh=947ed49615996eb3b5a6e465cb16666d&oe=5B3199A7", alt="", style="margin-left: -55px; margin-top: -30px;")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Intel Special Award 
            h4 OpenHCI Workshop
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Our team made a pair of RECALL box which enables people to interact with each other. This project won Intel Special Award in OpenHCI Workshop.
            .btn.btn-4
               button(href='https://goo.gl/D3Hmfo') Click on me!
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
               img(src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t1.0-9/20664015_1812405045455082_2996232448115855394_n.jpg?_nc_cat=0&oh=e87ec117f76e707dec6577f16e577c98&oe=5B75734E", alt="", style="margin-left: -75px; margin-top: -50px")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 1st Prize & Best Design Award
            h4 TAICHI 2017 
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Thanks to Taiwan Computer-Human Interaction annual meeting, we had chances to demo our RECALL boxes again in National Cheng Kung University 
            .btn.btn-4
               button(href='https://goo.gl/D3Hmfo') Click on me!
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.0-9/14910276_1483346658360924_5119214908917416462_n.jpg?_nc_cat=0&oh=943bd277568a8b71226a47935e570a57&oe=5B39CCE3", alt="",style="background-size: cover; margin-top: -100px")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 2nd Prize
            h4 International ICT Innovative Services Awards 2016
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Ｈolywooooo is a website which provides not only location and price of a house but also pros and cons of the environment, especially the ares of Subsidence. Our team won the second prize of Economic GIS section.
            .btn.btn-4
               button(href='https://goo.gl/ymR7i6') Click on me!
      .row
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t1.0-9/29594388_2070717286290522_2085064988161918018_n.jpg?_nc_cat=0&oh=6da7df686989f8514b83ae06df63f2b8&oe=5B2EAC63", alt="", style="margin-left: -55px; margin-top: -30px;")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")  to be chosen to the first around
            h4 ATONA Case Competition
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Come up with new ideas: how to use whoscall app to help Taiwan's B&B and hostel to attract more potential customers.
            .btn.btn-4
               //- button(href='https://goo.gl/VuFVYv') click on me!
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
               img(src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t1.0-9/29694700_2070717646290486_1850906378750617245_n.jpg?_nc_cat=0&oh=7e6654942dd3b67a01a47621b42cb7ff&oe=5B333F7C", alt="", style="margin-left: -55px; margin-top: -30px")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 3rd Prize in Elevator Pitch
            h4 @Young Entreneurship of the Future
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 
            .btn.btn-4
               //- button(href='https://goo.gl/ymR7i6') click on me!
         .col-md-4.col-sm-6
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://scontent.ftpe3-1.fna.fbcdn.net/v/t1.0-9/69094_1226235064072086_899526498598585647_n.jpg?_nc_cat=0&oh=f4b9dfdfa5f31cff90917ed24767b42b&oe=5B30C16F", alt="",style="background-size: cover; margin-left: -50px; margin-top: -80px")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 1st Prize
            h4 BlueNet-Ride App Digital Marketing Contest
            //- p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") The field was founded on the claim that human intelligence "can be so precisely described that a machine can be made to simulate it". This raises philosophical arguments about the nature of the mind and the ethics of creating artificial beings endowed with human.
            .btn.btn-4
               //- button(href='https://goo.gl/ymR7i6') click on me!
            
section#section_story
   .container-fluid
      .row
         .col-sm-5.map(data-bottom-top="transform: background-size: 150% ; background-position: 0% 0%" data-center="transform: background-size: 100%; background-position: 50% 50%")
            //.cross x
         .col-sm-7
            .col-sm-12
               h2 Skills
               hr
            .col-sm-12.features
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Vue.png/215px-Vue.png", alt="", style="width: 80px")
                  h4 VueJs
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="https://cdn-images-1.medium.com/max/1200/1*K0a7xINk0RM5gfXGSN68cw.png", alt="",style="width: 120px")
                  h4 ReactJs
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="https://cdn-images-1.medium.com/max/1600/0*g3ns8QALNBBH7CBA.", alt="",style="width: 90px")
                  h4 JQuery
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="https://cdn0.froala.com/assets/editor/docs/server/meta-social/php-e8c6425acd65e1cbc012639ad25598c7.png", alt="",style="width: 170px; margin-left: -20px")
                  h4 PHP
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png", alt="",style="width: 90px")
                  h4 HTML5
               .col-sm-2(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
                  img(src="http://pic.pimg.tw/art0725/1333446351-460433587_m.png", alt="",style="width: 70px")
                  h4 CSS3
            .col-sm-12
               

               
         
               
            
            
section#section_future
   .container-fluid
      .row
         .col-sm-12
            h2 Work Experience
            hr
         .col-sm-6
            img(src="https://i0.wp.com/fusion.net/wp-content/uploads/2015/02/robots_gone_mad_1a.gif?resize=1600%2C900&quality=80&strip=all", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
         .col-sm-6.feature(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
            .container.demo
              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        i.more-less.glyphicon.glyphicon-plus
                        | 						Collapsible Group Item #1
                  #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .panel.panel-default
                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        i.more-less.glyphicon.glyphicon-plus
                        | 						Collapsible Group Item #2
                  #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .panel.panel-default
                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        i.more-less.glyphicon.glyphicon-plus
                        | 						Collapsible Group Item #3
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              // panel-group
              
              
section#section_project
   .container            
      .row
         .col-sm-12(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
            h2 Story about me
            hr
         .col-md-3
            .img_wrap(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
                img(src="https://i.imgur.com/zkLqwOd.png", alt="", style="margin-left: -55px; margin-top: -30px;")
            h3(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Intel Special Award 
            h4 OpenHCI Workshop
            p(data-bottom-top="transform: translateＹ(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") Our team made a pair of RECALL box which enables people to interact with each other. This project won Intel Special Award in OpenHCI Workshop.
            .btn.btn-4
               button(href='https://goo.gl/D3Hmfo') Click on me!



           
footer.jumbotron
   .container
      h2 Do you want to know more about Ai？
      input.form-control(placeholder="Email")
      hr
      button.btn.btn-default Suscribe